/**
 * Custom Styles here.
 *
 * ref：https://v1.vuepress.vuejs.org/config/#index-styl
 */

.home .hero img
  max-width 450px!important

.site-name.can-hide
  display: none!important

.sidebar-group .is-sub-group > .sidebar-heading
  font-size: 1em!important

.hero > .description
  width: 520px